:root {
  --White : hsl(0, 0%, 100%);
  --LightGray : hsl(212, 45%, 89%);
  --DarkBlue : hsl(218, 44%, 22%);
  --Grey: #7D889E;
  --borderRadius: 13px;
}

html {
  background-color: var(--LightGray);  
  font-family: 'Outfit', serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  max-width: 320px;
  background-color: var(--White);
  border-radius: var(--borderRadius);
}

.container {
  text-align: center;
  padding: 16px;
}

img {
  border-radius: var(--borderRadius);
}

.title {
  margin-top: 24px;
  font-size: 22px;
  font-weight: bold;
  color: var(--DarkBlue);
}

.description {
  font-size: 15px;
  color: var(--Grey);
  padding: 16px;
}

